*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #FFFFFF; 
   padding: 10px 80px;
}

ul{
   display: flex;
    list-style: none;
    gap: 10px;
}
a{
    text-decoration: none;
    color: #575757;
}

.comon-btn{
    background-color: #1D4ED8;
    color: #FFFFFF;
    border-radius: 8px;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    border: none;
}
.comon-btn:hover{
    background-color: #1E40AF;

}

/* Hero Section */

.hero{
    height: 90vh;
    background-image: linear-gradient(rgba(0,0,0,.65), rgba(0,0,0,.65)), url("./assets/banner.jpg");             
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content{
    max-width: 700px;
}

.hero h1{
    color: white;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 20px;
}

.hero p{
    color: #d9d9d9;
    font-size: 20px;
    margin-bottom: 35px;
}

